.signup-body {
  display: flex;
  min-height: 90vh;
}
.signup-image{
  width: 60%;
  max-height: 90vh;
}
.signup-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.signup-form-body{
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: center;
}
.signup-form{
  display: flex;
  width: 60%;
  height: fit-content;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 10px;
  border-radius: 1rem;
}
.signup-form p{
  margin: 20px 0 0 0;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 5rem;
}
.signup-form form{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.signup-form input{
  margin-bottom: 4rem;
}
.signup-form span{
  display: flex;
  width: 70%;
  justify-content: center;
}
.signup-form input[type="text"]{
  border: none;
  border-bottom: 1px solid black;
  width: 70%;
  height: 2em;
  font-size: 18px;
}
.signup-form input[type="email"], .signup-form input[type="password"]{
  border: none;
  border-bottom: 1px solid black;
  width: 70%;
  height: 2em;
  font-size: 18px;
}
.register-button{
  background-color: black;
  border: none;
  color: white;
  font-size: 18px;
  padding: 0.8em 1em;
  border-radius: 1rem;
  cursor: pointer;
}
.register-button:hover{
  padding: 0.8em 1.1em;
}