/* WeeklyAnnouncements.css */

.instagram-feed-container {
  max-width: 540px;
  min-width: 326px;
  margin: 0 auto;
}

.instagram-media {
  background: #FFF;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 10px 0 rgba(0, 0, 0, 0.15);
  margin: 1px;
  padding: 16px;
}

.instagram-media a {
  display: block;
  text-align: center;
  text-decoration: none;
}

.instagram-media img {
  max-width: 100%;
  height: auto;
}

.instagram-media p {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

.instagram-media p a {
  color: #3897f0;
  font-weight: bold;
}
